@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #cbc5ff;
  background-color: #030413;
}

img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #7768fc94;
}

.navbar .navbarbrand {
  color: #cbc5ff;
  align-self: center;
  font-size: xx-large;
}

.navbar .navbarbrand:focus {
  color: #cbc5ff;
}

.navbar .navbarbrand:hover {
  color: #7768fc94;
}

.navbar .navbarlinks {
  margin-left: auto;
}

.navbar .navlink {
  color: #cbc5ff;
  white-space: normal;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  float: left;
}

.navbar .navlink:hover {
  color: #7768fc94;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.recipe-preview-info-wrapper {
  background: linear-gradient(to bottom, rgba(10, 10, 10, 0.6) 30%, transparent);
  padding: 10px 16px;
  height: 250px;
}

.recipe-preview {
  margin: 0px 0;
  height: 250px;
  width: 420px;
  border-radius: 0.5rem;
  border: 3px solid #7768fc94;
  font-style: normal;
  background-size: cover;
  margin-bottom: 40px;
}

.recipe-preview:hover {
  box-shadow: 0px 0px 7px 4px #cbc5ff;
  transform: scale(1.02);
}

.recipe-preview h3 {
  margin-bottom: 8px;
}

.recipe-preview * {
  background-color: transparent;
}

.recipe-preview a {
  text-decoration: none;
}

.recipe-preview-info-boxes{
  bottom: 1.5rem;
  left: 1.2rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 0;
  transform: translateY(-15%);
  word-break: break-all;
  font-size: large;
  display: flex;
  gap: 0.2rem;
}

.recipe-preview-price-wrapper {
  background-color:  #030413;
  border-radius: 0.5rem;
  padding: 0.3rem;
  position: relative;
  z-index: 0;
  width: max-content;
  word-break: break-all;
  font-size: large;
}

.recipe-preview-price {
  background-color: #7768fc94;;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.recipe-preview-time-wrapper {
  background-color:  #030413;
  border-radius: 0.5rem;
  padding: 0.3rem;
  position: relative;
  z-index: 0;

  width: max-content;
  word-break: break-all;
  font-size: large;
}

.recipe-preview-time {
  background-color: #7768fc94;;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.recipe-info-boxes{
  margin-top: 10px;

  border-radius: 0.5rem;
  bottom: 0;
  position: absolute;

  word-break: break-all;
  font-size: large;
  display: flex;
  gap: 0.2rem;
}

.recipe-img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 3px solid #7768fc94;
  margin-right: 30px;
}

.recipe-ingredient-instructions{
  display: flex;
  flex-direction: row;
  width: inherit;
  border-Top: 3px solid #7768fc94;
  padding: 10px;
}

.my-list {
  list-style: none;
  padding: 0;
  width: 400px;
  margin-right: 45px;
  border: 2px solid #7768fc94;
}

.my-list li {
  padding: 10px;
  border-bottom: 1px solid #7768fc94;
}

.my-list li:last-child {
  border-bottom: none;
}

.list-instructions-wrapper {
  padding: 0;
  flex: 1;
  margin-left: 30px;
}

.list-instructions {
  padding: 0;
  list-style-position: inside;
  
}

.list-instructions li {
  padding: 10px;
  border-bottom: 1px solid #7768fc94;
}

.list-instructions li:last-child {
  border-bottom: none;
}

.edit-button {
  background-color: #7768fc94;;
  margin-right: 10px;
  font-size: large;
  width: 100px;
}

.recipe-description-area{
  position: relative;
  width: max-content;
  flex: content;
}

.edit-button:hover {
  box-shadow: 0px 0px 1px 1px #cbc5ff;
  transform: scale(1.01);
}

.recipe-img-edit {
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 3px solid #7768fc94;
  margin-right: 30px;
}

.recipe-img-edit:hover {
  box-shadow: 0px 0px 1px 1px #cbc5ff;
}

.textarea{
  width: 100%;
  height: 230px;
  padding: 0px;
  border: 0px;
  background-color: #090931;
}

.invisable-edit{
  border: 0px;
  padding: 0px;
  background-color: #090931;
}

.header-edit{
  height: 38.39px; 
  margin-bottom: 8px;
  border: 0px;
  padding: 0px;
  font-size: 25pt;
  width: 100%;
  background-color: #090931;
}