@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
/* * {
  font-family: "Quicksand";
} */

img {
  height: 200px;
  object-fit: cover;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  margin-bottom: 20px;
}

.navbar .navbarbrand {
  color: #5e72e4;
  align-self: center;
  font-size: xx-large;
}

.navbar .navbarbrand:focus {
  color: #5e72e4;
}

.navbar .navbarbrand:hover {
  color: #f4f5f7;
}

.navbar .navbarlinks {
  margin-left: auto;
}

.navbar .navlink {
  color: #5e72e4;
  white-space: normal;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  float: left;
}

.navbar .navlink:hover {
  color: #f4f5f7;
}

.recipe-preview {
  border-radius: 12px;
  box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.recipe-preview img {
  border-radius: 12px 12px 0px 0;
}

.recipe-preview:hover {
  transform: translateY(-10px);
}

.recipe-info-boxes{
  margin-top: 10px;

  border-radius: 0.5rem;
  bottom: 0;
  position: absolute;

  word-break: break-all;
  font-size: large;
  display: flex;
  gap: 0.2rem;
}

.recipe-img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 3px solid #5e72e4;
  margin-right: 30px;
}

.recipe-ingredient-instructions{
  display: flex;
  flex-direction: row;
  width: inherit;
  border-Top: 3px solid #5e72e4;
  border-bottom: 3px solid #5e72e4;
  padding: 10px;
}

.my-list {
  list-style: none;
  padding: 0;
  width: 400px;
  margin-right: 45px;
  border: 2px solid #5e72e4;
}

.my-list li {
  padding: 10px;
  border-bottom: 1px solid #5e72e4;
}

.my-list li:last-child {
  border-bottom: none;
}

.list-instructions-wrapper {
  padding: 0;
  flex: 1;
  margin-left: 30px;
}

.list-instructions {
  list-style: none;
  padding: 0;
  list-style-position: inside;
}

.list-instructions li {
  padding: 10px;
  border-bottom: 1px solid #7768fc94;
}

.list-instructions li:last-child {
  border-bottom: none;
}

.recipe-description-area{
  position: relative;
  width: max-content;
  flex: content;
}

.recipe-img-edit {
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 3px solid #7768fc94;

}

.recipe-img-edit:hover {
  box-shadow: 0px 0px 1px 1px #cbc5ff;
}

.textarea{
  width: 100%;
  height: 230px;
  padding: 0px;
  border: 0px;
}

.invisable-edit{
  border: 10px;
  padding: 0px;
}

.invisable-edit-small{
  border: 1px;
  padding: 0px;
  block-size: fit-content;
}

.header-edit{
  height: 38.39px; 
  margin-bottom: 8px;
  border: 1px;
  padding: 0px;
  font-size: 25pt;
  width: 100%;
}
