@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
::-webkit-scrollbar {
  display: none;
}

.navbar {
  margin-bottom: 15px;
}

.navbar .navbarbrand {
  color: #5e72e4;
  align-self: center;
  font-size: xx-large;
}

.navbar .navbarbrand:focus {
  color: #5e72e4;
}

.navbar .navbarbrand:hover {
  color: #f4f5f7;
}

.navbar .navbarlinks {
  margin-left: auto;
}

.navbar .navlink {
  color: #5e72e4;
  white-space: normal;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  float: left;
}

.navbar .navlink:hover {
  color: #f4f5f7;
}

.recipe-preview {
  border-radius: 12px;
  box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.recipe-preview img {
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0;
}

.recipe-preview:hover {
  transform: translateY(-10px);
}

.recipe-info-boxes {
  margin-top: 10px;

  border-radius: 0.5rem;
  bottom: 0;
  position: absolute;

  word-break: break-all;
  font-size: large;
  display: flex;
  gap: 0.2rem;
}

.recipe-ingredient-instructions {
  border-top: 2px solid #5e72e4;
  border-bottom: 2px solid #5e72e4;
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.my-list {
  list-style: none;
  padding: 0;
  border: 2px solid #5e72e4;
}

.my-list li {
  padding: 10px;
  border-bottom: 1px solid #5e72e4;
}

.my-list li:last-child {
  border-bottom: none;
}

.list-instructions {
  list-style: none;
  padding: 0;
}

.list-instructions li {
  padding: 10px;
  border-bottom: 1px solid #7768fc94;
}

.list-instructions li:last-child {
  border-bottom: none;
}

.recipe-img-edit {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 3px solid #7768fc94;
}

.textarea {
  width: 100%;
  height: 230px;
  padding: 0px;
  border: 0px;
}

.veryLongTooltip .tooltip-inner {
  /* This will make the max-width relative to the tooltip's container, by default this is body */
  max-width: 400px;
  /* This will remove any limits, but should still wrap if overflowing the viewport */
  /* max-width: none; */
}

.accordian {
  --bs-accordion-btn-focus-box-shadow: #7768fc94;
}
